.studys-container {
    display: flex;
    background: linear-gradient(180deg, #000 0%, rgba(238, 238, 238, 0.93) 100%);
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    border: 2px solid red;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
  }