.table-container {
    border-radius: 15px;
    background: linear-gradient(180deg, rgba(238, 238, 238, 0.51) 0%, #7BAFD4 100%);
    backdrop-filter: blur(2px);
    width: 70vmin;
    height: 50vmin;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
  }
  
  .tabs {
    display: flex;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: 'Acme', sans-serif;
    position: relative;
    width: 100%;
  }

  .tab-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(100% / 3);
    background-color: #96BEDA;
    transition: left 0.3s ease-in-out;
    z-index: 0;
  }
  
  .tab {
    flex: 1;
    cursor: pointer;
    position: relative;
    padding: 10px 0;
    text-align: center;
    background-color: transparent;
    color: inherit;
    font-size: 24px;
    z-index: 1;
    transition: color 0.3s ease-in-out;
    &:hover {
      color: white;
    }
  }
  
  .active-tab {
    position: relative;
    z-index: 2;
    color: white;
  }

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  @keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }

  .fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in;
  }
  
  .fade-out {
    opacity: 0;
    transition: opacity 0.25s ease-out;
  }
  
  .tab-content {
    display: flex;
    flex-grow: 1;
    align-items: center; // Center items vertically
    text-align: left;
  }
  
  .tab-text {
    position: relative;
    font-family: 'Poppins', sans-serif;
    width: 60%; // Explicit width for the text section
    margin-left: 5%;
    color: rgb(71, 71, 71);
  }
  
  .tab-image {
    width: 30%;
    margin-left: 70%;
    position:absolute;
    top:35%;
    img {
      max-width: 100%;
      height: auto;
    }
  }

  .tab-content-animate-in {
    animation-name: fadeIn;
    animation-duration: 0.25s;
    animation-fill-mode: both;
  }
  
  .tab-content-animate-out {
    animation-name: fadeOut;
    animation-duration: 0.25s;
    animation-fill-mode: both;
  }
  
  @media (max-width: 1270px) {
    .table-container{
        width: 60vmin;
        height: 40vmin;
    }
}

  @media (max-width: 768px) {
    .table-container {
        width: 80vmin;
    }
    .tab {
        font-size: 20px;
    }
  
    .tab-content {
        font-size: 0.9rem;
        align-items: center;
        text-align: center;   
    }

    .tab-text{
      width: 90%;
    }

    .tab-image{
      position: relative;
      margin-left: 35%;
    }
  }
  
  @media (max-width: 1080px) {
    .table-container {
        width: 80vmin;
        height: auto;
    }

    .tab-image{
      top: 20%;
    }
}

@media (max-width: 370px) {
  .tab-content {
      font-size: 0.6rem;
  }
}
  