.table-container {
    border-radius: 15px;
    background: linear-gradient(180deg, rgba(238, 238, 238, 0.51) 0%, #7BAFD4 100%);
    backdrop-filter: blur(2px);
    width: 70vmin;
    height: 50vmin;
    overflow: hidden;
  }
  
  .tabs {
    display: flex;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: 'Acme', sans-serif;
    position: relative;
  }

  .tab-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(100% / 3);
    background-color: #96BEDA;
    transition: left 0.3s ease-in-out;
    z-index: 0;
  }
  
  .tab {
    flex: 1;
    cursor: pointer;
    position: relative;
    padding: 10px 0;
    user-select: none;
    text-align: center;
    background-color: transparent;
    color: inherit;
    font-size: 24px;
    z-index: 1;
    transition: color 0.3s ease-in-out;
    &:hover {
      color: white;
    }
  }
  
  .active-tab {
    position: relative;
    z-index: 2;
    color: white;
  }

  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  @keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }
  
  .tab-content {
    margin-top: 1rem;
    color: #333;
  }

  .tab-content-animate-in {
    animation-name: fadeIn;
    animation-duration: 0.25s;
    animation-fill-mode: both;
  }
  
  .tab-content-animate-out {
    animation-name: fadeOut;
    animation-duration: 0.25s;
    animation-fill-mode: both;
  }
  
  @media (max-width: 1270px) {
    .table-container{
        width: 60vmin;
        height: 40vmin;
    }
}

  @media (max-width: 768px) {
    .table-container {
        width: 80vmin;
    }
    .tab {
        font-size: 20px;
    }
  
    .tab-content {
      font-size: 0.9rem;
    }
  }
  
  @media (max-width: 1080px) {
    .table-container {
        width: 80vmin;
        height: auto;
    }
}
  