<!-- about-table.component.html -->
<div class="table-container">
    <div class="tabs">
      <div class="tab-background" [style.left]="getBackgroundPosition()"></div>
      <div
        *ngFor="let tab of tabs; let i = index"
        (click)="setActiveTab(tab)"
        [ngClass]="{'active-tab': activeTab === tab}"
        class="tab"
      >
        {{ tab }}
      </div>
    </div>
    <div class="tab-content"
     [ngClass]="{
       'tab-content-animate-out': fadeOutInProgress,
       'tab-content-animate-in': fadeInInProgress && !fadeOutInProgress
     }">
      <ng-container [ngSwitch]="activeTab">
        <div *ngSwitchCase="'About Me'">
          <!-- About me content here -->
          <p>This is a sample about me</p>
        </div>
        <div *ngSwitchCase="'Tech Stack'">
          <!-- Tech Stack content here -->
          <p>This is a sample tech stack</p>
        </div>
        <div *ngSwitchCase="'Fun Facts'">
          <!-- Fun Facts content here -->
          <p>This is a sample fun</p>
        </div>
      </ng-container>
    </div>
  </div>
  