<div class="projects-container">
    <div class="page-title">
        Projects
      </div>
    <div *ngFor="let project of projects; let i = index" 
         [ngClass]="{'active': project.active, 'left': i < activeIndex, 'right': i > activeIndex}" 
         (click)="setActive(project)" 
         class="project-card">
  
      <img [src]="project.image" alt="{{ project.title }}" class="project-image">
  
      <img [src]="project.title" alt="{{ project.title }}" class="project-title-image">
  
      <div class="project-card-content">
        <div class="description-container">
            <p>{{ project.description }}</p>
            <button class="learn-more-btn" *ngIf="project.active">Learn more</button>
          </div>
        </div>
      </div>
    </div>